@charset "UTF-8";

body {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
}

.container {
	width: 100%;
	height: 100vh;
	display: flex;
	background-color: rgb(255, 255, 255);
}

.sidebar {
	width: 260px;
	min-width: 260px;
	height: 100%;
	background-color: #F9F9F9;
}

.sidebar_inner {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	background-color: inherit;
	padding: 20px 0;
}

.search-container {
    padding: 0 23px;
    margin: 13px 0px;
}

.search-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 13px;
}

.search-container input:focus {
    outline: solid 4px#E3E3E3;
    border-radius: 10px;
}

.new_idea {
	width: 100%;
	display: flex;
	position: sticky;
	top: 0;
	left: 0;
	align-items: center;
	justify-content: space-between;
	padding: 6px 10px;
	border-radius: 8px;
	background-color: #F9F9F9;
	transition: all ease 0.3s;
}

.new_idea:hover {
	background-color: #E3E3E3;
	cursor: pointer
}

.new_idea_left {
	display: flex;
}

.new_idea_text {
	margin-left: 10px;
	font-size: 20px;
	font-weight: bold;
}

div::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

div::-webkit-scrollbar-track {
	background: #ffffff00;
}

div::-webkit-scrollbar-thumb {
	background: #e9e9e9;
	border-radius: 5px;
}

.history {
	flex-grow: 1;
	padding: 0 12px;
	overflow-y: scroll;
}



.idea_title_item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	padding: 7px 14px;
	transition: all ease 0.3s;
}

.idea_title_item:hover {
	background-color: #E3E3E3;
	cursor: pointer
}

.idea_title_text {
	font-size: 14px;
	overflow: hidden;
}

.idea_titles {
	margin-top: 20px;
}

.account {
	display: flex;
	/*	position: fixed;*/
	bottom: 0;
	left: 0;
	align-items: center;
	border-radius: 10px;
	padding: 7px 14px;
	margin: 0 12px;
	transition: all ease 0.3s;
}

.account:hover {
	background-color: #E3E3E3;
	cursor: pointer
}

.account_name {
	margin-left: 10px;
}

.main_area {
	display: flex;
	flex-direction: column;
	height: 100%;
	flex-grow: 1;
}

.main_top {
	flex-grow: 1;
}

.main_bottom {
	display: flex;
	height: 100px;
	background-color: #ededed;
	justify-content: center;
	align-items: center;
}

.message_box {
  display: flex;
  align-items: center;
  border-radius: 10px;
  
  margin: 0.2rem;
  word-wrap: break-word;
  width: 60%;
}

#message-input {
	padding: 10px;
	border-radius: 10px 0 0 10px;
	flex-grow: 1;
}

#message-input:focus {
	outline: 0;
} 


#send-button {
	padding: 10px;
	background-color: #000000;
	color: #fff;
	border-radius: 0 10px 10px 0;
}